<div class="container">
  <div id="footer-links">
    <%= link_to _('Manual'), '/doc', id: "link-to-doc", class: 'icon-help' %>
  </div><!-- end id="footer-links" -->
  <div id="copyright">
    <p><%= (_('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/')).html_safe %></p>
  </div><!-- end id="copyright" -->
  <%= language_chooser(environment) %>
</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//nephila.serpro.gov.br/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 165]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//nephila.serpro.gov.br/piwik.php?idsite=165" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
